.side-nav a .fa{
   margin-right: 10px;
}

.brand-logo{
    margin-bottom: 40px;
}

.fa {
    display: inherit !important;
}
@media only screen and (min-width: 768px) {
    main .container{
        margin-left: 350px;
        margin-right:50px;

    }
}
